@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-zinc-100 antialiased min-h-screen relative;
  background: linear-gradient(-45deg, #09090b, #022c22, #052e16, #09090b);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-950/40 backdrop-blur-xl border border-white/10 shadow-2xl shadow-emerald-950/20;
  }
}
